<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.finger" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Finger</name>
    <description>
        Finger
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
